h1 {
  font-size: 61px;
  margin: 0px;
}
h2 {
  font-size: 27px;
  margin-bottom: 20px;
}
.help-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px;
  height: 61px;
}

.help-main {
  margin: 60px;
}
li {
  padding-left: 20px;
}

::marker {
  font-weight: 900;
  font-size: 27px;
}
