* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  height: 100%;
  margin: auto;
  font-family: inter, sans-serif;
  line-height: 1.4;
  font-size: 16px;
}

a {
  text-decoration: none;
}
